body{
    width: 1024px;
    margin: auto;
}
.avatar{
    display: block;
    width: 160px;
    height: 200px;
    margin: 0 auto;
    border-radius: 6px;
}

h1, h2, h3, h4{
    background-color: cornflowerblue;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-family: 'PT Sans', 'Ubuntu', sans-serif;
    
}
p, li, blockquote, td{
    font-family: 'PT Sans', 'Ubuntu', sans-serif; 
    color: black;
}
a{
    text-decoration: none;
}
.smile{
    width: 20px;
    height: 20px;
}
table{
    border-collapse: collapse;  
}
th, td{
    border: 1px solid black;
}